.blog-page
  &__container
    padding 0 24px
    flex-grow 1
    margin auto
    width 100%
    height 100%
    @media $display-breakpoints.lg-and-up
      max-width 1188px
    @media $display-breakpoints.md-only
      max-width 944px
    @media $display-breakpoints.sm-and-down
      padding 0 24px

    &_empty
      display flex
      justify-content center
      margin-top: 50px