
// Headlines
// ============================================================
h1, .h1
  font-family: $headings.h1.font-family
  font-size: $headings.h1.size
  font-weight: $headings.h1.weight
  line-height: $headings.h1.line-height
  letter-spacing: $headings.h1.letter-spacing
  color: $headings.h1.color

  @media $display-breakpoints.md-only
    font-size: $headings.h1.size-md
  @media $display-breakpoints.sm-only
    font-size: $headings.h1.size-sm
  @media $display-breakpoints.xs-only
    font-size: $headings.h1.size-xs

h2, .h2
  font-family: $headings.h2.font-family
  font-size: $headings.h2.size
  font-weight: $headings.h2.weight
  line-height: $headings.h2.line-height
  letter-spacing: $headings.h2.letter-spacing
  color: $headings.h2.color

  @media $display-breakpoints.md-only
    font-size: $headings.h2.size-md
  @media $display-breakpoints.sm-only
    font-size: $headings.h2.size-sm
  @media $display-breakpoints.xs-only
    font-size: $headings.h2.size-xs

h3, .h3
  font-family: $headings.h3.font-family
  font-size: $headings.h3.size
  font-weight: $headings.h3.weight
  line-height: $headings.h3.line-height
  letter-spacing: $headings.h3.letter-spacing
  color: $headings.h3.color

  @media $display-breakpoints.md-only
    font-size: $headings.h3.size-md
  @media $display-breakpoints.sm-only
    font-size: $headings.h3.size-sm
  @media $display-breakpoints.xs-only
    font-size: $headings.h3.size-xs

h4, .h4
  font-family: $headings.h4.font-family
  font-size: $headings.h4.size
  font-weight: $headings.h4.weight
  line-height: $headings.h4.line-height
  letter-spacing: $headings.h4.letter-spacing
  color: $headings.h4.color

  @media $display-breakpoints.md-only
    font-size: $headings.h4.size-md
  @media $display-breakpoints.sm-only
    font-size: $headings.h4.size-sm
  @media $display-breakpoints.xs-only
    font-size: $headings.h4.size-xs

h5, .h5
  font-family: $headings.h5.font-family
  font-size: $headings.h5.size
  font-weight: $headings.h5.weight
  line-height: $headings.h5.line-height
  letter-spacing: $headings.h5.letter-spacing
  color: $headings.h5.color

  @media $display-breakpoints.md-only
    font-size: $headings.h5.size-md
  @media $display-breakpoints.sm-only
    font-size: $headings.h5.size-sm
  @media $display-breakpoints.xs-only
    font-size: $headings.h5.size-xs

h6, .h6
  font-family: $headings.h6.font-family
  font-size: $headings.h6.size
  font-weight: $headings.h6.weight
  line-height: $headings.h6.line-height
  letter-spacing: $headings.h6.letter-spacing
  color: $headings.h6.color

  @media $display-breakpoints.md-only
    font-size: $headings.h6.size-md
  @media $display-breakpoints.sm-only
    font-size: $headings.h6.size-sm
  @media $display-breakpoints.xs-only
    font-size: $headings.h6.size-xs

h1.page-title-semi
  font-family: $headings.h2.font-family
  font-size: $headings.h2.size
  font-weight: $headings.h2.weight
  line-height: $headings.h2.line-height
  letter-spacing: $headings.h2.letter-spacing
  color: $headings.h2.color

  @media $display-breakpoints.md-only
    font-size: $headings.h2.size-md
  @media $display-breakpoints.sm-only
    font-size: $headings.h2.size-sm
  @media $display-breakpoints.xs-only
    font-size: $headings.h2.size-xs