$layoutsList = {
  pz: 0,
  pa: 360,
  pb: 400,
  pc: 480,
  ta: 600,
  tb: 720,
  tc: 840,
  td: 960,
  la: 1024,
  lb: 1280,
  da: 1440,
  db: 1600,
  dx: 1920
}

$layoutStringStart = 'only screen'

$layouts := {
  pa-only: $layoutStringStart + ' and (max-width: ' + ($layoutsList.pa - 1) + 'px)',
  pa-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.pa - 1) + 'px)',
  pa-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.pa + 'px)',
  pb-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.pa + 'px)' + ' and (max-width: ' + ($layoutsList.pb - 1) + 'px)',
  pb-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.pb - 1) + 'px)',
  pb-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.pb + 'px)',
  pc-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.pb + 'px)' + ' and (max-width: ' + ($layoutsList.pc - 1) + 'px)',
  pc-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.pc - 1) + 'px)',
  pc-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.pc + 'px)',
  ta-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.pc + 'px)' + ' and (max-width: ' + ($layoutsList.ta - 1) + 'px)',
  ta-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.ta - 1) + 'px)',
  ta-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.ta + 'px)',
  tb-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.ta + 'px)' + ' and (max-width: ' + ($layoutsList.tb - 1) + 'px)',
  tb-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.tb - 1) + 'px)',
  tb-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.tb + 'px)',
  tc-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.tb + 'px)' + ' and (max-width: ' + ($layoutsList.tc - 1) + 'px)',
  tc-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.tc - 1) + 'px)',
  tc-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.tc + 'px)',
  td-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.tc + 'px)' + ' and (max-width: ' + ($layoutsList.td - 1) + 'px)',
  td-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.td - 1) + 'px)',
  td-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.td + 'px)',
  la-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.td + 'px)' + ' and (max-width: ' + ($layoutsList.la - 1) + 'px)',
  la-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.la - 1) + 'px)',
  la-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.la + 'px)',
  lb-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.la + 'px)' + ' and (max-width: ' + ($layoutsList.lb - 1) + 'px)',
  lb-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.lb - 1) + 'px)',
  lb-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.lb + 'px)',
  da-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.lb + 'px)' + ' and (max-width: ' + ($layoutsList.da - 1) + 'px)',
  da-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.da - 1) + 'px)',
  da-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.da + 'px)',
  db-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.da + 'px)' + ' and (max-width: ' + ($layoutsList.db - 1) + 'px)',
  db-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.db - 1) + 'px)',
  db-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.db + 'px)',
  dx-only: $layoutStringStart + ' and (min-width: ' + $layoutsList.db + 'px)' + ' and (max-width: ' + ($layoutsList.dx - 1) + 'px)',
  dx-down: $layoutStringStart + ' and (max-width: ' + ($layoutsList.dx - 1) + 'px)',
  dx-up:   $layoutStringStart + ' and (min-width: ' + $layoutsList.dx + 'px)'
}
