
// Bold Text
// ============================================================
.text-bold
  font-weight: 700
.error--text
  color: #ff5252 !important
  caret-color: #ff5252 !important

@media $display-breakpoints.xl-only
  .text-bold-xl
    font-weight: 700

@media $display-breakpoints.lg-only
  .text-bold-lg
    font-weight: 700

@media $display-breakpoints.md-only
  .text-bold-md
    font-weight: 700

@media $display-breakpoints.sm-only
  .text-bold-sm
    font-weight: 700

@media $display-breakpoints.xs-only
  .text-bold-xs
    font-weight: 700

// SemiBold Text
// ============================================================
.text-semibold
  font-weight: 600

@media $display-breakpoints.xl-only
  .text-semibold-xl
    font-weight: 600

@media $display-breakpoints.lg-only
  .text-semibold-lg
    font-weight: 600

@media $display-breakpoints.md-only
  .text-semibold-md
    font-weight: 600

@media $display-breakpoints.sm-only
  .text-semibold-sm
    font-weight: 600

@media $display-breakpoints.xs-only
  .text-semibold-xs
    font-weight: 600


// Thin Text
// ============================================================
.text-thin
  font-weight: 400

@media $display-breakpoints.xl-only
  .text-thin-xl
    font-weight: 300

@media $display-breakpoints.lg-only
  .text-thin-lg
    font-weight: 300

@media $display-breakpoints.md-only
  .text-thin-md
    font-weight: 300

@media $display-breakpoints.sm-only
  .text-thin-sm
    font-weight: 300

@media $display-breakpoints.xs-only
  .text-thin-xs
    font-weight: 300


// Thin Text
// ============================================================
.text-normal
  font-weight: 400

@media $display-breakpoints.xl-only
  .text-normal-xl
    font-weight: 400

@media $display-breakpoints.lg-only
  .text-normal-lg
    font-weight: 400

@media $display-breakpoints.md-only
  .text-normal-md
    font-weight: 400

@media $display-breakpoints.sm-only
  .text-normal-sm
    font-weight: 400

@media $display-breakpoints.xs-only
  .text-normal-xs
    font-weight: 400


// Text align center
// ============================================================
.text-center
  text-align: center

@media $display-breakpoints.xl-only
  .text-center-xl
    text-align: center

@media $display-breakpoints.lg-only
  .text-center-lg
    text-align: center

@media $display-breakpoints.md-only
  .text-center-md
    text-align: center

@media $display-breakpoints.sm-only
  .text-center-sm
    text-align: center

@media $display-breakpoints.xs-only
  .text-center-xs
    text-align: center


// Text align left
// ============================================================
.text-left
  text-align: left

@media $display-breakpoints.xl-only
  .text-left-xl
    text-align: left

@media $display-breakpoints.lg-only
  .text-left-lg
    text-align: left

@media $display-breakpoints.md-only
  .text-left-md
    text-align: left

@media $display-breakpoints.sm-only
  .text-left-sm
    text-align: left

@media $display-breakpoints.xs-only
  .text-left-xs
    text-align: left


// Text align right
// ============================================================
.text-right
  text-align: right

@media $display-breakpoints.xl-only
  .text-right-xl
    text-align: right

@media $display-breakpoints.lg-only
  .text-right-lg
    text-align: right

@media $display-breakpoints.md-only
  .text-right-md
    text-align: right

@media $display-breakpoints.sm-only
  .text-right-sm
    text-align: right

@media $display-breakpoints.xs-only
  .text-right-xs
    text-align: right


// Text align right
// ============================================================
.text-block
  display: block

@media $display-breakpoints.xl-only
  .text-block-xl
    display: block

@media $display-breakpoints.lg-only
  .text-block-lg
    display: block

@media $display-breakpoints.md-only
  .text-block-md
    display: block

@media $display-breakpoints.sm-only
  .text-block-sm
    display: block

@media $display-breakpoints.xs-only
  .text-block-xs
    display: block
