//************************************************************
// Базовые стили
//************************************************************
@import './main/_main.styl'
//************************************************************
// Компоненты
//************************************************************
@import './components/_header.styl'
@import './components/_social.styl'
@import './components/_logo.styl'
@import './components/_navigation.styl'
@import './components/_phone.styl'
@import './components/_email.styl'
@import './components/_preFooter.styl'
@import './components/_footer.styl'
@import './components/_menuButton.styl'
@import './components/_menu.styl'
@import './components/_mobileMenu.styl'
@import './components/forms/_phoneModalForm.styl'
@import './components/forms/_youtubeModalBody.styl'
@import './components/_angularBlock.styl'
@import './components/_indexFork.styl'
@import './components/_shareSocials.styl'
@import './components/_backNextPanel.styl'
@import './components/_PresentationBlock.styl'
@import './components/_quotationBlock.styl'
@import './components/_beginBlock.styl'
@import './components/_swiper.styl'
@import './components/_swiperItem.styl'
@import './components/_swiperProjects.styl'
@import './components/_footerButton.styl'
@import './components/_blogItem.styl'
@import './components/_blogContentInfo.styl'
@import './components/_blogContent.styl'
@import './components/_scrollTopBtn.styl'
@import './components/_moreProjectButton.styl'
@import './components/_portfolioBlocks.styl'
@import './components/_portOrder.styl'
@import './components/_FormBlock.styl'
//************************************************************
// UI
//************************************************************
@import './ui/_accordionSimple.styl'
@import './ui/_button.styl'
@import './ui/_horizonItem.styl'
@import './ui/_horizonList.styl'
@import './ui/_infoBlockFlex.styl'
@import './ui/_infoBlockGrid.styl'
@import './ui/_infoBlockItem.styl'
@import './ui/_infoBlockSpriteList.styl'
@import './ui/_infoBlockSmallIcons.styl'
@import './ui/_modalWindow.styl'
@import './ui/_pageTitle.styl'
@import './ui/_pagination.styl'
@import './ui/_preloader.styl'
@import './ui/_sectionTitle.styl'
@import './ui/_textBlock.styl'
@import './ui/_textField.styl'
//************************************************************
// Pages
//************************************************************
@import './components/pages/_pages.styl'
//************************************************************
// Simples
//************************************************************
@import "./simpleBlocks/_mainPageInfoBlock.styl"