.notify
  .vue-notification
    background: #416FC8;
    border: none;
    color: #fff;
    padding: 13px 16px;
    font-size: 14px;
    font-weight: 400
  .notification-title
    font-weight: 500

.popup-buttons .v-btn--outlined.infoOut--text
  color: rgba(0,0,0,.87) !important;