:root
  --white-main: #FFFFFF
  --black-main: #29293A
  --red-main: #DF242C
  --red-secondary: #E78488
  --blue-main: #204995
  --blue-secondary: #7E95C0
  --grey-stroke: #CBDBE5
  --grey-1: #EEF3F7
  --grey-2: #505A6C
  --grey-3: #B4CAD8
  --bg: #EDEDED
  --text-secondary: #727A89
