.container
  width: 100%;
  max-width: 1240px;
  padding: 0 26px;
  margin: 0 auto;
.semi-container
  max-width 978px;
  width: 100%
  margin: 0 auto;
  padding: 0 26px;
.icon
  width: 100%
  // height: auto;
  height 100%
a
  text-decoration: none;
  color: $blue-main;
  transition color .3s
  &:hover, &:focus
    color: $red-main;

picture
  display: inline-flex;
  line-height: 0
  font-size: 0
  img
    display: inline-flex;
