
// Angular area
// ============================================================
.angular-area
  position: relative
  padding: 0.02px 0 3rem
  margin-top: 4em

  .port-line-tree-img-area &
    margin-top: 50px

  .swiper-area + &
    margin-top: 2.5em

  &.team-title
    padding-bottom: 12rem !important

  &.port-quotation
    padding-bottom: 4em

    .port-line-tree-img-area + &
      margin-top: 56px

  &.saw-top
    padding-top: 3rem
    @media $display-breakpoints.sm-and-down
      padding-top: 2rem
    @media screen and (max-width: 399px)
      padding-top: 1rem

    &.saw-top-hidden-lg
      @media $display-breakpoints.lg-and-up
        padding-top: 0
    &.saw-top-hidden-md
      @media $display-breakpoints.md-only
        padding-top: 0
    &.saw-top-hidden-sm
      @media $display-breakpoints.sm-only
        padding-top: 0
    &.saw-top-hidden-xs
      @media $display-breakpoints.xs-only
        padding-top: 0

  &.saw-bottom
    padding-bottom: 6rem
    @media $display-breakpoints.sm-and-down
      padding-bottom: 5rem
    @media screen and (max-width: 399px)
      padding-bottom: 4rem

    &.saw-bottom-hidden-lg
      @media $display-breakpoints.lg-and-up
        padding-bottom: 0
    &.saw-bottom-hidden-md
      @media $display-breakpoints.md-only
        padding-bottom: 0
    &.saw-bottom-hidden-sm
      @media $display-breakpoints.sm-only
        padding-bottom: 0
    &.saw-bottom-hidden-xs
      @media $display-breakpoints.xs-only
        padding-bottom: 0

  &.saw-left
    padding-left: 75px
    @media $display-breakpoints.sm-and-down
      padding-left: 55px
    @media screen and (max-width: 399px)
      padding-left: 35px

  &.saw-left-hidden-lg
    @media $display-breakpoints.lg-and-up
      padding-left: 0
  &.saw-left-hidden-md
    @media $display-breakpoints.md-only
      padding-left: 0
  &.saw-left-hidden-sm
    @media $display-breakpoints.sm-only
      padding-left: 0
  &.saw-left-hidden-xs
    @media $display-breakpoints.xs-only
      padding-left: 0

  &.saw-right
    padding-right: 75px
    @media $display-breakpoints.sm-and-down
      padding-right: 55px
    @media screen and (max-width: 399px)
      padding-right: 35px

  &.saw-right-hidden-lg
    @media $display-breakpoints.lg-and-up
      padding-right: 0
  &.saw-right-hidden-md
    @media $display-breakpoints.md-only
      padding-right: 0
  &.saw-right-hidden-sm
    @media $display-breakpoints.sm-only
      padding-right: 0
  &.saw-right-hidden-xs
    @media $display-breakpoints.xs-only
      padding-right: 0

  &>*
    position: relative

  &.main-title
    margin-top: 0

  &.portfolio-angular-area
    @media $display-breakpoints.lg-and-up
      padding-top: 6rem
      padding-bottom: 9rem
    @media $display-breakpoints.md-and-down
      padding-top: 6rem
      padding-bottom: 9rem
    @media $display-breakpoints.sm-and-down
      padding-top: 4rem
      padding-bottom: 8rem
      margin-bottom: -3rem
    @media $display-breakpoints.xs-only
      padding-top: 1rem
      padding-bottom: 7rem
      margin-bottom: -3rem
    @media screen and (max-width: 399px)
      padding-top: 1rem
      padding-bottom: 0
      margin-bottom: -3rem

.angular-back
  position: absolute
  z-index: 0
  width: 100%
  height: 100%
  top: 0
  left: 0
  overflow: hidden
  background-color: $white

  &::before
    content: ''
    position: absolute
    z-index: 0
    width: 100%
    height: 100%
    top: 0
    left: 0
    opacity: .4
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-attachment: fixed
    background-image: url('/img/angular_hd_is.webp')
    @media only screen and (max-width: 769px)
      opacity: .6

  &>span
    display: block
    position: absolute
    z-index: 1
    width: 100%
    height: 100%
    top: 0
    left: 0

    .saw-top &,
    .saw-bottom &
      &::before, &::after
        content: ''
        position: absolute
        width: 100%
        height: 75px
        left: 0
        background-repeat: repeat-x
        background-position: center top
        background-size: auto 100%
        background-image: url('/img/saw.svg')
        display: none
        @media $display-breakpoints.sm-and-down
          height: 55px
        @media screen and (max-width: 399px)
          height: 35px

    .saw-left &,
    .saw-right &
      &::before, &::after
        content: ''
        position: absolute
        width: 75px
        height: 100%
        top: 0
        background-repeat: repeat-y
        background-position: left center
        background-size: 100% auto
        background-image: url('/img/saw_v.svg')
        display: none
        @media $display-breakpoints.sm-and-down
          width: 55px
        @media screen and (max-width: 399px)
          width: 35px

    .saw-top &
      &::before
        display: block
        top: -0.02px

    .saw-top-hidden-lg &
      @media $display-breakpoints.lg-and-up
        &::before
          display: none
    .saw-top-hidden-md &
      @media $display-breakpoints.md-only
        &::before
          display: none
    .saw-top-hidden-sm &
      @media $display-breakpoints.sm-only
        &::before
          display: none
    .saw-top-hidden-xs &
      @media $display-breakpoints.xs-only
        &::before
          display: none

    .saw-left &
      &::before
        display: block
        left: -0.02px

    .saw-left-hidden-lg &
      @media $display-breakpoints.lg-and-up
        &::before
          display: none
    .saw-left-hidden-md &
      @media $display-breakpoints.md-only
        &::before
          display: none
    .saw-left-hidden-sm &
      @media $display-breakpoints.sm-only
        &::before
          display: none
    .saw-left-hidden-xs &
      @media $display-breakpoints.xs-only
        &::before
          display: none

    .saw-bottom &
      &::after
        display: block
        bottom: -0.02px
        transform: rotate(180deg)

    .saw-bottom-hidden-lg &
      @media $display-breakpoints.lg-and-up
        &::after
          display: none
    .saw-bottom-hidden-md &
      @media $display-breakpoints.md-only
        &::after
          display: none
    .saw-bottom-hidden-sm &
      @media $display-breakpoints.sm-only
        &::after
          display: none
    .saw-bottom-hidden-xs &
      @media $display-breakpoints.xs-only
        &::after
          display: none

    .saw-right &
      &::after
        display: block
        right: -0.02px
        transform: rotate(180deg)

    .saw-right-hidden-lg &
      @media $display-breakpoints.lg-and-up
        &::after
          display: none
    .saw-right-hidden-md &
      @media $display-breakpoints.md-only
        &::after
          display: none
    .saw-right-hidden-sm &
      @media $display-breakpoints.sm-only
        &::after
          display: none
    .saw-right-hidden-xs &
      @media $display-breakpoints.xs-only
        &::after
          display: none
