.back-next-panel
  margin-top: 66px
  @media $display-breakpoints.sm-and-down
    margin-top: 49px

  &.port-footer-area
    margin-top: 76px

    .angular-area + &
      margin-top: 86px

  &__container
    padding 0 24px
    flex-grow 1
    margin auto
    width 100%
    height 100%
    @media $display-breakpoints.lg-and-up
      max-width 1188px
    @media $display-breakpoints.md-only
      max-width 944px

    &_flex
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      @media $display-breakpoints.sm-and-down
        flex-wrap: wrap

      a
        font-weight: 400

      &>*
        &.is-back,
        &.is-next
          width: 14em
          @media only screen and (max-width: 399px)
            .port-footer-area &
              text-align: center

        &.is-next
          text-align: right

        &.is-social
          @media $display-breakpoints.sm-and-down
            order: 1
            width: 100%
            margin-bottom: 52px

        &.is-back
          @media $display-breakpoints.sm-and-down
            order: 2
            width: 50%
          @media only screen and (max-width: 599px)
            width: 9em
          @media only screen and (max-width: 399px)
            width: 100%

        &.is-next
          @media $display-breakpoints.sm-and-down
            order: 3
            width: 50%
          @media only screen and (max-width: 599px)
            width: 7em
          @media only screen and (max-width: 399px)
            display: none

.back-flex
  position: relative
  display: inline-flex
  justify-content: flex-start
  align-items: center
  margin: -.5rem
  color: inherit
  transition: color $base-animation-time $base-animation-timing-function

  &>*
    margin: .5rem

  .text
    font-size: 22px
    @media $display-breakpoints.sm-and-down
      line-height: (25/21)

  .icon
    svg
      position: relative
      top: 1px
      width: 10px
      height: 19px

  &:hover
    cursor: pointer
    color: $font-hover-orange