.header
  width 100%
  height 300px
  position relative
  transition all $animation-time05 $base-animation-timing-function
  display flex

  @media $display-breakpoints.sm-and-down
    position fixed
    z-index $header-layer
    height auto

  &__container
    position relative
    padding 70px 24px 63px 24px
    flex-grow 1
    margin auto
    width 100%
    height 100%
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-template-rows repeat(2, 1fr)
    grid-template-areas: "socials logo phone"\
                        "nav nav nav"

    @media $display-breakpoints.lg-and-up
      max-width 1188px
    @media $display-breakpoints.md-only
      max-width 944px
    @media $display-breakpoints.sm-and-down
      // padding 1.2em
      padding: 0;
      grid-template-rows 1fr
      grid-template-areas "phone logo menu"

  &__socials
    grid-area socials
    display flex
    align-items center
    @media $display-breakpoints.sm-and-down
      display none

  &__logo
    display flex
    justify-content center
    align-items center
    grid-area logo
    @media $display-breakpoints.sm-and-down
      padding: 24px 0;

  &__phone
    grid-area phone
    display flex
    justify-content flex-end
    align-items center
    @media $display-breakpoints.sm-and-down
      justify-content flex-start
      a
        padding: 24px 0 24px 24px;
        width: 100%
        height: 100%


  &__menu
    display block
    grid-area menu
    position: fixed
    z-index: $menu-btn-layer
    top: 3vh
    right: -70px
    transition: right $animation-time05 $base-animation-timing-function
    will-change: right

    @media $display-breakpoints.sm-and-down
      display flex
      position static
      align-items center
      justify-content flex-end
      padding: 24px 24px 24px 0;

    &_show
      right: 9vw

      @media only screen and (max-width: 1600px)
        right: 3vw
      //@media only screen and (max-width: 1400px)
      //  right: 7px

  &__navigation
    display flex
    align-items flex-end
    grid-area nav
    @media $display-breakpoints.sm-and-down
      display none

  &_shadow
    @media $display-breakpoints.sm-and-down
      background-color: $white
      box-shadow 0 0 5px rgba($primary, .2)

  & > .angular-back
    opacity 0

  &_show-background
    .angular-back
      opacity 1