// PreFooter Area
// ============================================================
.pre-footer
  position: relative
  margin-top: 93px
  display: flex
  justify-content: flex-start
  align-items: stretch
  @media $display-breakpoints.sm-and-down
    flex-direction: column
    margin-top: 64px

  &__address_mobile
    position: relative
    @media $display-breakpoints.md-and-up
      display: none
    @media $display-breakpoints.sm-and-down
      padding: 47px 0 52px
    @media only screen and (max-width: 399px)
      padding: 27px 0
    .pre-footer__address
      position: relative
      z-index: 1
    &>.angular-back
      opacity: 0
      transition: opacity 1s ease

    &.bg-empty
      &>.angular-back
        opacity: 0

    &.bg-fill
      &>.angular-back
        opacity: 1

  &__address
    position: relative
    display: flex
    justify-content: flex-start
    align-items: stretch
    @media $display-breakpoints.sm-and-down
      max-width: 395px
      margin: 0 auto
    @media only screen and (max-width: 399px)
      max-width: 320px

    &__icon
      position: relative
      flex: 0 0 auto
      width: 201px
      margin: 8px 0
      @media $display-breakpoints.sm-and-down
        width: 96px
      @media only screen and (max-width: 399px)
        margin: 0 20px
        width: 46px

      &__icon-block
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        background-repeat: no-repeat
        background-position: right center
        background-size: contain
        background-image: url('/img/contacts_block_arrow.svg')

    &__text
      position: relative
      flex: 1 1 auto
      font-size: 25px
      line-height: (37/25)
      padding-left: 67px
      color: $primary
      @media $display-breakpoints.sm-and-down
        padding-left: 30px
      @media only screen and (max-width: 399px)
        font-size: 20px
        padding-left: 0


  &__map
    position: relative
    z-index: 0
    @media $display-breakpoints.md-and-up
      flex: 1 1 auto
      margin-bottom: 52px
      margin-right: -48px
      width: calc(50% + 48px)
    @media $display-breakpoints.sm-and-down
      width: 100%
      height: 562px
    @media only screen and (max-width: 599px)
      height: 400px
    @media only screen and (max-width: 399px)
      height: 374px

    &__map-block
      position: absolute
      width: 100%
      height: 100%
      right: 0
      top: 0

      [class*="ymaps-2"][class*="-ground-pane"]
        filter: grayscale(100%)

        .browser-chrome &, .browser-yandexbrowser &
          filter: grayscale(100%) url("/img/bluescale.svg#bluefilter") saturate(15%) brightness(240%) contrast(165%)

        .browser-firefox &, .browser-safari &
          filter: grayscale(100%) url("/img/bluescale.svg#bluefilter") contrast(100%) brightness(160%) saturate(37%)

  &__form_desktop
    position: relative
    @media $display-breakpoints.md-and-up
      flex: 0 0 auto
      width: 50%
      min-width: (570 + 24)px
      overflow: hidden
      &>*
        max-width: 570px

    .pre-footer__address
      @media $display-breakpoints.md-and-up
        margin-top: -7px
      @media $display-breakpoints.sm-and-down
        display: none

    .angular-area
      padding-bottom: 0
      @media $display-breakpoints.md-and-up
        margin-top: 61px
        margin-right: -70px
        max-width: 640px
      @media $display-breakpoints.sm-and-down
        margin-top: 0

  &__form
    position: relative
    display: flex
    justify-content: flex-start
    align-items: stretch
    flex-direction: column
    padding: 62px 84px 90px 91px
    @media $display-breakpoints.md-only
      padding: 62px 121px 90px 91px
    @media $display-breakpoints.sm-and-down
      padding: 62px 20px 75px
      margin: 0 auto
      max-width: 430px
    @media only screen and (max-width: 599px)
      padding: 51px 20px 75px
    @media only screen and (max-width: 399px)
      padding: 36px 24px 57px

    & .i-text-field
      margin-bottom 0

    &__field
      margin-bottom: 52px
      @media only screen and (max-width: 599px)
        margin-bottom: 40px
      @media only screen and (max-width: 399px)
        margin-bottom: 38px
      &_first
        margin-bottom: 54px
        @media only screen and (max-width: 599px)
          margin-bottom: 42px
        @media only screen and (max-width: 399px)
          margin-bottom: 38px

    &__title
      font-size: 25px
      line-height: (37/25)
      color: $primary
      margin-bottom: 52px
      @media only screen and (max-width: 599px)
        margin-bottom: 40px
      @media only screen and (max-width: 399px)
        margin-bottom: 38px
        font-size: 20px
        line-height: (37/20)

      &>span
        display: block

    & .i-btn
      margin 0

    &__btn
      flex 1
      align-self stretch
      display flex
      align-items center
      justify-content space-between
      padding 0 28px 0 41px

      &__icon
        position relative
        width 48px
        height 34px
        opacity .6
        transition opacity 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)
        background-repeat no-repeat
        background-size contain
        background-position center
        background-image url('/img/arrow_btn.svg')
        @media only screen and (max-width: 399px)
          width 44px

      &:hover
        .phone-modal-form__send__btn__icon
          opacity .8