
// Arhproekt
// ============================================================
$arhproektCard-main-color = #F18815

.portfolio-tile-arhproekt
  .portfolio-bottom
    z-index: 11
  &::after
    content ""
    position: absolute;
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 10;
    background: linear-gradient(45deg, rgba(199, 72, 0, 0.7) -2.25%, rgba(199, 72, 0, 0) 68.7%);

  .is-back
    z-index: 1

    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: #fff

    background-position: bottom center

  .is-lest
    z-index: 2

    width: 100%
    height: 100%
    top: 0
    left: 0

    background-size: cover
    transform: scale(1)
    transition: transform 3.8s $prj-ease-easeInOutCubic

  .is-ang
    z-index: 3

    width: 100%
    height: 100%
    top: 0
    left: 0

    background-color: $arhproektCard-main-color
    box-shadow: 0 0 11px rgba(#3c3c3c, .2)

  .is-ang-one
    z-index: 5

    width: 37.322%
    height: 100%
    top: 0
    right: 0
    left: unset

    background-color: #f28914
    opacity: 1
    transform-origin: bottom right
    transform: skewX(-28deg) translate3d(0, 0, 0)
    transition: background-color .8s $prj-ease-easeInOutCubic, opacity .8s $prj-ease-easeInOutCubic, transform .8s $prj-ease-easeInOutCubic
    transition-delay: .1s

  .is-ang-two
    z-index: 4

    width: 36.786%
    height: 100%
    top: 0
    right: 0
    left: unset

    background-color: #EE7409
    transform-origin: bottom right
    transform: skewX(-28deg) translate3d(0, 0, 0)
    transition: background-color .8s $prj-ease-easeInOutCubic, transform .8s $prj-ease-easeInOutCubic

  .is-ang-three
    display: none
    z-index: 6

    font-size: 15px
    width: 12.2em
    height: 6.7em
    right: 3.3em
    bottom: 0
    top: unset
    left: unset

    background-color: rgba(#f7a727, .85)
    transform: skewX(-28deg) translate3d(66%, 0, 0) scaleX(0.6)
    transition: background-color .8s $prj-ease-easeInOutCubic, transform .8s $prj-ease-easeInOutCubic

  .is-ang-four
    z-index: 5;
    width: 100%;
    height: 40%;
    top: -22%;
    right: -26%;
    left: unset;
    @media screen and (max-width 599px)
      width: 80%
      height: 36%

    background-color: #3C3C3C
    transform: skew(43deg, -11deg) translate3d(0, 0, 0)
    transition: transform 0.8s $prj-ease-easeInOutQuint

  .is-ang-five
    z-index: 5

    width: 30%
    height: 100%
    top: 0
    left: 0

    background-color: $arhproektCard-main-color
    opacity: 1
    transform-origin left top
    transform: skewX(-28deg) translate3d(0, 0, 0)
    transition: transform 0.8s $prj-ease-easeInOutQuint, opacity 0.8s $prj-ease-easeInOutQuint
    transition-delay: .1s

  .is-text
    z-index: 10
    font-size: 15px
    line-height: (22 / 15)
    font-weight: 500
    color: #fff

    width: 6.7em
    height: 3em
    right: 6.2em
    bottom: 1.8em
    top: unset
    left: unset


    transform-origin right top
    transform: translate3d(0, -31%, 0)
    transition: transform 0.8s $prj-ease-easeInOutQuint, opacity 0.8s $prj-ease-easeInOutQuint

  .is-logo
    z-index: 11
    background-position: center
    background-size: contain

    width: 55%
    height: 9.1%
    top: 4%
    right: 6.7%
    left: unset

    transform-origin: center
    transform: translate3d(0, 0, 0)
    transition: transform .8s $prj-ease-easeInOutCubic
    transition-delay: 0s

    @media screen and (max-width 399px)
      width: 36%
      right: 10%

  &:hover
    .is-lest
      transform: scale(1.1)
    .is-ang-one
      background-color: #f7a727
      opacity: .5
      transform: skewX(-28deg) translate3d(-306%, 0, 0)
    .is-ang-two
      background-color: #f7a727
      transform: skewX(-28deg) translate3d(0, 0, 0)
    .is-ang-three
      background-color: rgba(#ee7409, .85)
      transform: skewX(-28deg) translate3d(0, 0, 0)
    .is-ang-four
      transform: skew(-27deg, 18deg) translate3d(-30%, 14%, 0)
      @media screen and (max-width 599px)
        transform: skew(-27deg, 18deg) translate3d(-50%, 60%, 0)
    .is-ang-five
      opacity: .5
      transform: skewX(-28deg) translate3d(420%, 0, 0)
    .is-text
      opacity: 1
      transform: translate3d(0, 0, 0)
    .is-logo
      transform: translate3d(-5%, -19%, 0)
      @media screen and (max-width 399px)
        transform: translate3d(-30%, -19%, 0)



.portfolio-item--tall
  .portfolio-tile-arhproekt
    .is-ang-four
      width: 140%;
      height: 40%;
      top: -26%;
      right: -45%;

.portfolio-item--long
  .portfolio-tile-arhproekt
    .is-ang-four
      height: 50%;
      top: -25%;
    &hover
      transform: skew(-27deg, 18deg) translate3d(-30%, 30%, 0);




