
// Kotochist
// ============================================================

.portfolio-tile-kotochist
  background: #f4f4f4;
  .is-back
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 116%;
    height: 110%;
    top: 0;
    z-index: 1;
    transform-origin: bottom left;
    transition transform $prj-ease-easeInOutCubic 2s
  .is-back-wall
    z-index: 0;
    top: -33%;
    width: 86%;
    left: 15%;
    height: 206%;
    transform-origin: bottom left;
    transition transform $prj-ease-easeInOutCubic 1.5s
    @media $display-breakpoints.xs-only
      width: 186%;
      left: 0
  .is-cat
    width: 68%;
    z-index: 1;
    right: -15%;
    left: auto;
    top: 3%;
    transition transform $prj-ease-easeInOutCubic 1s


  .is-logo
    width: 51%;
    height: 16%;
    background-size: contain;
    background-position: left bottom;
    left: 5%;
    top: 12%;
    //@media $display-breakpoints.xs-only
    //  left: 25px
    //  height: 25%

  &:hover
    .is-back
      transform: rotate(-2deg);
    .is-cat
      transform: translate3d(10%, 0, 0)
    .is-back-wall
      transform: rotate(17deg);

.portfolio-item--tall
    .portfolio-tile-kotochist
      .is-back
        top: 17%
        @media $display-breakpoints.xs-only
          top: 0;
      .is-back-wall
        left: auto;
        right: 0;
        width: 140%
        background-size: 100% auto;
        top: -50%;
        @media $display-breakpoints.xs-only
          left: 0;
          right: auto;
          top: -33%;
          width: 186%;
          background-size: cover;
      .is-cat
        left: 13%;
        width: 157%;
        height: 91%;
        right: auto;
        top: auto;
        bottom: 2%;
        @media $display-breakpoints.xs-only
          left: auto;
          right: -15%;
          width: 68%;
          top: 3%;
          bottom: auto;
      .is-logo
        width: 80%
        height: 16%;
        left: 10%;
        top: -3%;
        @media $display-breakpoints.xs-only
          width: 51%;
          height: 16%;
          left: 5%;
          top: 12%;
      &:hover
        .is-back
          transform rotate(0) translate3d(0, -13%, 0)
          @media $display-breakpoints.xs-only
            transform rotate(-2deg) translate3d(0, 0, 0)
        .is-back-wall
          transform rotate(0) translate3d(0, 13%, 0)
          @media $display-breakpoints.xs-only
            transform rotate(17deg) translate3d(0, 0, 0)

.portfolio-item--square
  .portfolio-tile-kotochist
    .is-back
      top: 5%
      @media $display-breakpoints.xs-only
        top: 0;
    .is-back-wall
      width: 100%
      left: 0
      top: -18%;
      @media $display-breakpoints.xs-only
        width: 186%;
        left: 0;
        top: -33%;
    .is-logo
      left: 10%;
      top: 5%;
      @media $display-breakpoints.xs-only
        left: 5%;
        top: 12%;
    .is-cat
      width: 111%
      right: -62%
      top: 0
      @media $display-breakpoints.xs-only
        width: 68%;
        right: -15%;
        top: 3%;
    &:hover
      .is-back
        transform rotate(0) translate3d(0, -13%, 0)
        @media $display-breakpoints.xs-only
          transform rotate(-2deg) translate3d(0, 0, 0)
      .is-back-wall
        transform rotate(0) translate3d(0, 13%, 0)
        @media $display-breakpoints.xs-only
          transform rotate(17deg) translate3d(0, 0, 0)
