// SMEDS
// ============================================================
.portfolio-tile-smeds
  .is-back
    background-color: #D5F1F1;
    z-index: 1;

  .is-logo
    width: 20%;
    height: 25%;
    background-size: contain;
    top: 11%;
    left: 1%;
    z-index: 2;
    transition $animation-time05 transform

  .is-phone
    width: 40%;
    height: 72%;
    background-size: contain;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: unset;
    right: -1%;
    z-index: 3;
    transition $animation-time05 transform

  .is-stethoscope
    width: 41%;
    height: 73%;
    top: 3%;
    background-size: contain;
    left: unset;
    right: 10%;
    z-index: 2;
    transition $animation-time05 transform

  &:hover
    .is-phone
      transform scale(1.08)
    .is-stethoscope
      transform: scale(1.18) translate(-13%, -4%)
    .is-logo
      transform: scale(1.18) translate(6%, 10%)

.portfolio-item--square
  .portfolio-tile-smeds
    .is-logo
      top: 11%;
      left: 12%;
      width: 24%
      @media $display-breakpoints.xs-only
        top: 11%;
        left: 1%;
        width: 20%;
    .is-phone
      top: -12%
      width: 50%
      right: -10%
      @media $display-breakpoints.xs-only
        top: 0;
        width: 40%;
        right: -1%;
    .is-stethoscope
      width: 47%
      right: 8%
      top: -4%
      @media $display-breakpoints.xs-only
        width: 41%;
        right: 10%;
        top: 3%;
    &:hover
      .is-logo
        transform: scale(1.177) translate(6%, 2%);
        @media $display-breakpoints.xs-only
          transform: scale(1.18) translate(6%, 10%)
      .is-stethoscope
        transform: scale(1.18) translate(3%, -1%);
        @media $display-breakpoints.xs-only
          transform: scale(1.18) translate(-13%, -4%)
      .is-phone
        transform: scale(1.08) translate(3%)
        @media $display-breakpoints.xs-only
          transform scale(1.08)

.portfolio-item--tall
  .portfolio-tile-smeds
    .is-logo
      width: 24%
      top: -1%
      left: 12%
      @media $display-breakpoints.xs-only
        width: 20%;
        top: 11%;
        left: 1%;
    .is-phone
      width: 76%;
      top: -15%
      right: 10%
      @media $display-breakpoints.xs-only
        width: 40%;
        top: 0;
        right: -1%;
    .is-stethoscope
      width: 113%
      height: 100%
      right: -13%;
      top: 2%
      @media $display-breakpoints.xs-only
        width: 41%;
        height: 73%;
        right: 10%;
        top: 3%;
    &:hover
      .is-logo
        transform: scale(1.2) translate(5%, 6%);
        @media $display-breakpoints.xs-only
          transform: scale(1.18) translate(6%, 10%)
      .is-phone
        transform: scale(1.25) translate(1%, 13%);
        @media $display-breakpoints.xs-only
          transform scale(1.08)
      .is-stethoscope
        transform: scale(1.18) translate(-18%, -8%);
        @media $display-breakpoints.xs-only
          transform: scale(1.18) translate(-13%, -4%)