.infoBlockSmallIcons
  text-align: center;
  padding: 12px 15px 0 15px;
  &__icon
    width: 100%
    height: 48px
    transition transform .3s ease
  &__text
    margin-top: auto;
    padding-top: 12px;
    color: #3F496A;
    font-size: 22px