.text-block
  position: relative
  margin: (40/$base-font-size)em auto 0

  @media $display-breakpoints.xs-only
    font-size: $font-size-mobile

  &__container
    padding 0 24px
    margin auto
    width 100%
    height 100%
    @media $display-breakpoints.lg-and-up
      max-width 1188px
    @media $display-breakpoints.md-only
      max-width 944px

    &__text
      position: relative

      &.text-center
        text-align center
      .text-primary
        color: $primary
      .text-normal
        font-weight: 400
      .text-35
        max-width: 37em
        margin-left: auto
        margin-right: auto

  .port-cascade-area + &
    margin: (60/$base-font-size)em auto 0

  .page-title + &
    margin-top: 35px
    @media $display-breakpoints.sm-and-down
      margin-top: 34px
    @media $display-breakpoints.xs-only
      margin-top: 32px

  .section-title + &
    margin-top: 48px
    @media $display-breakpoints.sm-and-down
      margin-top: 36px
    @media $display-breakpoints.xs-only
      margin-top: 28px