$port-tile-animate-time = .3s
$port-tile-animate-ease = ease


// Portfolio Tile
// ============================================================
.pii
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover


// CDS
// ============================================================
@import './portfolioTiles/_CDS'

// B5
// ============================================================
@import './portfolioTiles/_B5'

// XPresent
// ============================================================
@import './portfolioTiles/_XPresent'

// СПбИГО
// ============================================================
@import './portfolioTiles/_IGOSPb'

// FX List
// ============================================================
@import './portfolioTiles/_FXList'

// КС Альфа
// ============================================================
@import './portfolioTiles/_KSAlfa'

// GreenLine
// ============================================================
@import './portfolioTiles/_GreenLine'

// Проспект такси
// ============================================================
@import './portfolioTiles/_Prospect'

// ПодборАвто
// ============================================================
@import './portfolioTiles/_PodborAuto'

// СМЕДС
// ============================================================
@import './portfolioTiles/_Smeds'

// Поли-Р
// ============================================================
@import './portfolioTiles/_PoliR'

// Gala
// ============================================================
@import './portfolioTiles/_Gala'

// PerfectSport
// ============================================================
@import './portfolioTiles/_PerfectSport'

// ANDY
// ============================================================
@import './portfolioTiles/_KompaniyaAndy'

// Oknokomp
// ============================================================
@import './portfolioTiles/_Oknokomp'

// Mapryal
// ============================================================
@import './portfolioTiles/_Mapryal'

// Mining
// ============================================================
@import './portfolioTiles/_Mining'

// RusForProf
// ============================================================
@import './portfolioTiles/_RusForProf'

// Ustugov
// ============================================================
@import './portfolioTiles/_Ustugov'

// Detailing
// ============================================================
@import './portfolioTiles/_Detailing'

// Vhor
// ============================================================
@import './portfolioTiles/_Vhor'

// Проект-монтаж
// ============================================================
@import './portfolioTiles/_ProektMontag'

// Консал
// ============================================================
@import './portfolioTiles/_Konsal'

// Интери
// ============================================================
@import './portfolioTiles/_Interi'

// Рёрих
// ============================================================
@import './portfolioTiles/_Roerich'

// Рёрих
// ============================================================
@import './portfolioTiles/_Fish'

// Рёрих
// ============================================================
@import './portfolioTiles/_Promed'

// РемТех
// ============================================================
@import './portfolioTiles/_Remtech'

// Порт
// ============================================================
@import './portfolioTiles/_Seafishport'

// Санаторий
// ============================================================
@import './portfolioTiles/_Sakipirogova'

// Messenger
// ============================================================
@import './portfolioTiles/_Messenger'

// Завод Контакт
// ============================================================
@import './portfolioTiles/_ZavodKontakt'

// Конвера-D
// ============================================================
@import './portfolioTiles/_Konvera'

// Arhproekt
// ============================================================
@import './portfolioTiles/_Arhproekt'

// Kotochist
// ============================================================
@import './portfolioTiles/_Kotochist'

// SanatoriyAuto
// ============================================================
@import './portfolioTiles/_SanatoriyAuto'

// Duoasia
// ============================================================
@import './portfolioTiles/_Duoasia'

// stoneline
// ============================================================
@import "./portfolioTiles/_StoneLine"

// Московский штукатур
// ============================================================
@import "./portfolioTiles/_MoscowPlasterer"

// Московский штукатур
// ============================================================
@import "./portfolioTiles/_Spbiir.styl"

// ЦДС УКиСП
// ============================================================
@import "./portfolioTiles/_Ukisp.styl"

// 1box
// ============================================================
@import "./portfolioTiles/_1box.styl"

// sanatorium
// ============================================================
@import "./portfolioTiles/_sanatorium.styl"

//medtechrais
// ============================================================
@import "./portfolioTiles/_Medtechrais.styl"

//tdserver
// ============================================================
@import "./portfolioTiles/_TdServer.styl"

//spark
// ============================================================
@import "./portfolioTiles/_Spark.styl"

//Металлопродукция
// ============================================================
@import "./portfolioTiles/_MP.styl"

// Конечная плитка, переход в проекты
// ============================================================
@import "./portfolioTiles/_ToProject.styl"
