.portfolio-filter
  margin-top: 58px
  display flex
  justify-content center
  align-items center
  .i-btn
    min-height: 40px

  @media $display-breakpoints.sm-and-down
    margin-top: 35px

  &__content
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    flex-grow 1
    width 100%

    @media $display-breakpoints.lg-and-up
      max-width 1188px
    @media $display-breakpoints.md-only
      max-width 944px
    @media $display-breakpoints.sm-and-down
      padding 0 16px

    & > *
      @media $display-breakpoints.xs-only
        //width: 50%
        padding: 4px
    &__text
      display: inline-flex;
      @media only screen and (max-width: 959px)
        padding-top: 2px
    &__item
      margin: 0 calc(25px / 2) 25px;
      @media $display-breakpoints.xs-only
        margin: 0 calc(10px / 2) 6px;
      &__btn
        font-size: 21px
        font-weight: 400
        padding: 0 25px;
        text-transform: none
        margin: 0;

        @media $display-breakpoints.sm-and-down
          font-size: 19px

        @media only screen and (max-width: 769px)
          //font-size: 16px
          min-height unset
          height: 2em
          // padding-left: 0.8em
          //padding-right: 0.8em
          min-width: auto

        @media $display-breakpoints.xs-only
          width: 100%
          margin: 0