*
  box-sizing: border-box
  font-family: Ubuntu

html, body, #__nuxt, #__layout, .v-application, .v-application--wrap
  width: 100%
  height: 100%
  overflow: hidden!important
  font-family: Ubuntu
  --info-color: #416FC8

.v-snack__wrapper
  min-width 48px !important

.page_wrapper
  width: 100%
  height: 100%

.component-wrapper
  padding: 2px

.white-background
  background-color: #ffffff

.is-hidden
  display: none!important

.no-transition
  transition: none!important
  & > .v-icon
    transition: none!important

.theme--light.v-text-field>.v-input__control>.v-input__slot:before
  border-color: #DADADA !important

/* Error Page */

.error-page
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  a
    color: #416FC8

.error-page__panel-item
  overflow: auto
  max-height: 500px
  font-size: 14px
  max-width: 90%

/*****/

/* Common styles */
.icon-button
  display: flex
  align-items center
  height: 100%

.user-profile-menu
  top 42px !important

.v-dialog
  background: #ffffff
  box-shadow: 0 0 30px rgba(63, 74, 106, 0.2) !important
  @media screen and (max-width: 959px)
    border-radius: 0;
    margin: 0 !important;
    height: 100%;
    max-height: 100% !important
    width: 100% !important
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;

.v-input--selection-controls__ripple
  &::before
    opacity : .1 !important
  &:active
    opacity : .2 !important

.text-button
  color: #416FC8
  background: transparent
  border: none
  outline: none
  box-shadow: none
  .v-icon
    color: #416FC8!important

.icon-button
  &:hover .v-icon
    color: #416FC8!important

.round-icon-button
  display: inline-flex
  justify-content: center
  align-items: center
  width: 28px
  height: 28px
  border: none
  border-radius: 50%
  outline: none
  box-shadow: none
  background: #F3F5F8
  text-decoration: none
  &.is-blue
    background: #416FC8
  &.is-big
    width: 40px
    height: 40px

.default-button
  padding: 6px 21px
  border: 1px solid #416FC8
  background: transparent
  color: #416FC8
  font: 500 15px/17px Ubuntu, sans-serif
  &.is-filled, &:hover
    background: #416FC8
    color: #ffffff
  &[disabled]
    background: #E9EBEF
    color: #888A91
    border-color: #E9EBEF

*
  &:focus
    outline: none
/*****/

.v-input
  .v-label
    font-size: 14px


@media (max-width: 959px)
  html
    .v-application .primary
      background-color: #ffffff!important

.v-application
  .v-menu__content
    box-shadow: 0 5px 20px rgba(63, 74, 106, 0.4);

.filter-popup, .column-toggler-list, .user-profile-menu
  .v-list-item
    @media screen and (max-width: 959px)
      min-height: 40px !important

.w-100
  width: 100%

.v-application .error--text
  color: #CF4949 !important
  caret-color: #CF4949 !important
.v-application .error
  background-color: #CF4949 !important

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.v-text-field__slot
  input:-webkit-autofill
    &:focus, &:hover, &
      -webkit-box-shadow: 0 0 0 1000px #fff inset
      background-color: #ffffff!important