.vacancy-item
  position: relative
  display: flex
  justify-content: flex-start
  align-items: stretch
  flex-direction: column
  &:hover
    .vacancy-item__title
      color: $font-hover-blue

  &>*
    &:nth-last-child(2)
      &:not(.vacancy-grid-footer)
        margin-bottom: 20px

  & > .vacancy-item__title
    font-size: 22px
    line-height: (30/25)
    color: $font-dark-grey

  &__img + &__title
    margin-top: 34px

  &__img
    position: relative
    display: block
    text-decoration: none
    width: 100%
    height: 0
    padding-top: 72%
    overflow: hidden
    @media only screen and (max-width: 599px)
      padding-top: 70%

    &::before
      content: ''
      position: absolute
      z-index: 1
      width: 100.5%
      height: 100.5%
      top: 0
      left: 0
      background-repeat: no-repeat
      background-position center center
      background-size: cover
      background-image: inherit

      transform-origin: center center
      transform: scale(1)

      transition: transform $img-animation-time $img-animation-ease
      will-change: transform

    &>img
      position: relative
      z-index: 2
      display: block
      vertical-align: top
      width: 100%
      height: 100%
      opacity: 0

    &:hover
      cursor: pointer
      text-decoration: none
      &::before
        transform: scale($img-animation-scale)
